@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif, FontAwesome;
}

/* Color Palette */
body {
  background-color: #011936;
}
body .navMenu {
  text-align: center;
  padding: 0.5rem;
}
body .navMenu .active {
  color: #ED254E;
  text-shadow: 0px 0px 8px rgb(237, 37, 78);
}
body .navMenu a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 1em;
  border-right: 2px dotted #ED254E;
  transition: all 0.2s ease-in-out;
}
body .navMenu a:last-child {
  border-right: 0;
}
body .navMenu a:hover {
  color: #ED254E;
}
body .container, body .color-options, body .input-group, body .direction, body .preview, body .code {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
body .container {
  min-height: 90vh;
  gap: 8px;
}
body .container .card-container, body .container .card-prev {
  width: 650px;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px #465362;
  background-color: #C2EABD;
}
body .container .card-container .card-title, body .container .card-prev .card-title {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #011936;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body .container .card-container .color-options, body .container .card-prev .color-options {
  flex-direction: row;
  margin: 5px 0 auto;
}
body .container .card-container .color-options .column, body .container .card-prev .color-options .column {
  width: 50%;
  height: 142px;
  padding: 1em 0.5rem 0.5rem 0.5rem;
  border: 2px solid #011936;
  border-bottom: 0;
  background-color: #ED254E;
  color: white;
  text-align: center;
}
body .container .card-container .color-options .column:first-child, body .container .card-prev .color-options .column:first-child {
  border-radius: 5px 0 0 0;
  border-right: 0;
  /* Color 3 */
}
body .container .card-container .color-options .column:first-child .input-group:nth-child(2) .toggle-label, body .container .card-prev .color-options .column:first-child .input-group:nth-child(2) .toggle-label {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body .container .card-container .color-options .column:first-child .input-group:nth-child(2) .toggle-icon, body .container .card-prev .color-options .column:first-child .input-group:nth-child(2) .toggle-icon {
  position: absolute;
  left: 6%;
  top: 6px;
  font-size: 11px;
  color: #F9DC5C;
  pointer-events: none;
  transition: 0.25s;
}
body .container .card-container .color-options .column:first-child .input-group:nth-child(2) .input-row.disabled, body .container .card-prev .color-options .column:first-child .input-group:nth-child(2) .input-row.disabled {
  opacity: 0.4;
  pointer-events: none;
}
body .container .card-container .color-options .column:last-child, body .container .card-prev .color-options .column:last-child {
  border-radius: 0 5px 0 0;
  border-left: 2px dotted #011936;
}
body .container .card-container .color-options .column .input-group, body .container .card-prev .color-options .column .input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5px;
}
body .container .card-container .color-options .column .input-group:last-child, body .container .card-prev .color-options .column .input-group:last-child {
  border-top: 2px dotted #011936;
  padding: 5px 0 0 0;
}
body .container .card-container .color-options .column .input-group .form-label, body .container .card-prev .color-options .column .input-group .form-label {
  width: 100%;
  display: inline-block;
  font-size: 15px;
  margin-bottom: 0;
}
body .container .card-container .color-options .column .input-group .form-label small, body .container .card-prev .color-options .column .input-group .form-label small {
  font-size: 9px;
  color: #F9DC5C;
  margin: 6px 0 0 8px !important;
  cursor: help;
}
body .container .card-container .color-options .column .input-group input[type=color], body .container .card-prev .color-options .column .input-group input[type=color] {
  width: 50px;
  height: 25px;
  border: 0;
  border-radius: 5px;
  background: transparent;
  transition: 0.25s;
  cursor: pointer;
}
body .container .card-container .color-options .column .input-group input[type=color]:hover, body .container .card-prev .color-options .column .input-group input[type=color]:hover {
  scale: 1.05;
}
body .container .card-container .color-options .column .input-group input[type=color]::-webkit-color-swatch, body .container .card-prev .color-options .column .input-group input[type=color]::-webkit-color-swatch {
  border-radius: 5px;
  border: 1px solid #011936;
}
body .container .card-container .color-options .column .input-group input[type=color]::-moz-color-swatch, body .container .card-prev .color-options .column .input-group input[type=color]::-moz-color-swatch {
  border-radius: 5px;
  border: 1px solid #011936;
}
body .container .card-container .color-options .column .input-group .input-row, body .container .card-prev .color-options .column .input-group .input-row {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
}
body .container .card-container .color-options .column .input-group input[type=range], body .container .card-prev .color-options .column .input-group input[type=range] {
  flex: 1;
  height: 25px;
  cursor: pointer;
}
body .container .card-container .color-options .column .input-group input::-webkit-outer-spin-button, body .container .card-container .color-options .column .input-group input::-webkit-inner-spin-button, body .container .card-prev .color-options .column .input-group input::-webkit-outer-spin-button, body .container .card-prev .color-options .column .input-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body .container .card-container .color-options .column .input-group input[type=number], body .container .card-prev .color-options .column .input-group input[type=number] {
  width: 25px;
  height: 25px;
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
  border: 0;
  margin: 0 !important;
  border-radius: 5px !important;
  text-align: center;
  font-size: 9px;
}
body .container .card-container .color-options .column .input-group span, body .container .card-prev .color-options .column .input-group span {
  font-size: 10px;
  line-height: 2;
}
body .container .card-container .color-options .column .direction, body .container .card-prev .color-options .column .direction {
  width: 100%;
}
body .container .card-container .color-options .column .direction .input-row, body .container .card-prev .color-options .column .direction .input-row {
  gap: 0;
  justify-content: center;
  flex-wrap: wrap;
}
body .container .card-container .color-options .column .direction .input-row button, body .container .card-prev .color-options .column .direction .input-row button {
  font-size: 12px;
  padding: 0.5rem;
  border: none;
  color: white;
}
body .container .card-container .color-options .column .direction .input-row button:focus, body .container .card-container .color-options .column .direction .input-row button:hover, body .container .card-container .color-options .column .direction .input-row button:active, body .container .card-prev .color-options .column .direction .input-row button:focus, body .container .card-prev .color-options .column .direction .input-row button:hover, body .container .card-prev .color-options .column .direction .input-row button:active {
  font-weight: bolder;
  color: #F9DC5C;
}
body .container .card-container .color-options .column .direction .input-row .btn.active, body .container .card-prev .color-options .column .direction .input-row .btn.active {
  color: #011936;
  font-weight: bolder;
}
body .container .card-container .reset-button, body .container .card-prev .reset-button {
  background-color: #ED254E;
  border: 2px solid #011936;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  padding: 5px;
  text-align: center;
  border-top: 2px dotted #011936;
}
body .container .card-container .reset-button #reset, body .container .card-prev .reset-button #reset {
  background-color: #465362;
  padding: 5px 10px;
  font-size: 12px;
}
body .container .card-container .reset-button #reset:hover, body .container .card-prev .reset-button #reset:hover {
  background-color: black;
}
body .container .card-container .reset-button #reset i, body .container .card-prev .reset-button #reset i {
  font-size: 10px;
}
body .container .card-container .code, body .container .card-prev .code {
  flex-wrap: nowrap;
  margin: 10px 0 auto;
}
body .container .card-container .code .form-floating, body .container .card-prev .code .form-floating {
  width: 100%;
}
body .container .card-container .code .form-floating label, body .container .card-prev .code .form-floating label {
  font-size: 14px;
}
body .container .card-container .code .form-floating textarea, body .container .card-prev .code .form-floating textarea {
  height: 115px;
  border-radius: 5px;
  border: 2px solid #011936;
  overflow: auto;
  resize: none;
  cursor: copy;
  font-size: 14px;
}
body .container .card-container .code .form-floating textarea::-moz-selection, body .container .card-prev .code .form-floating textarea::-moz-selection {
  background: #F9DC5C;
}
body .container .card-container .code .form-floating textarea::selection, body .container .card-prev .code .form-floating textarea::selection {
  background: #F9DC5C;
}
body .container .card-container .code button, body .container .card-prev .code button {
  margin-left: 5px;
  background-color: #ED254E;
  border-color: #ED254E;
}
body .container .card-container .code button:hover, body .container .card-prev .code button:hover {
  background-color: var(--bs-btn-hover-bg);
}
body .container .card-prev {
  width: 350px;
}
body .container .card-prev .preview {
  height: 250px;
  border-radius: 5px;
  border: 2px solid #011936;
}
body .container .card-prev .preview span {
  color: #011936;
  opacity: 0.5;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: default;
}/*# sourceMappingURL=styles.css.map */