@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Kanit', sans-serif, FontAwesome;
}

/* Color Palette */
$redCrayola: #ED254E; $naplesYellow: #F9DC5C; $teaGreen: #C2EABD; $oxfordBlue: #011936; $Charcoal: #465362;

body {
    background-color: $oxfordBlue;
    .navMenu {
        text-align: center;
        padding: 0.5rem;    
        .active { color: #ED254E; text-shadow: 0px 0px 8px rgba(237, 37, 78, 1); }       
        a {
            color: white;
            font-size: 16px; text-decoration: none; text-transform: uppercase;  
            padding: 0 1em; border-right: 2px dotted $redCrayola; transition: all 0.2s ease-in-out;
            &:last-child { border-right: 0; }
            &:hover { color: $redCrayola; }
        }
    }

    .container, .color-options, .input-group, .direction, .preview, .code {
        display: flex; align-items: center; justify-content: center; flex-wrap: wrap;
    }
    .container {
        min-height: 90vh; gap: 8px;             
        .card-container, .card-prev {
            width: 650px; 
            padding: 1em; border-radius: 10px; box-shadow: 0px 0px 5px 5px #465362;
            background-color: $teaGreen;

            .card-title {
                width: 100%; display: inline-block;
                text-align: center; font-size: 15px; font-weight: bold;              
                color: $oxfordBlue; user-select: none;
            }       
            
            .color-options {                
                flex-direction: row; 
                margin: 5px 0 auto;

                .column {                
                    width: 50%; height: 142px;
                    padding: 1em 0.5rem 0.5rem 0.5rem; border: 2px solid $oxfordBlue; border-bottom: 0; 
                    background-color: $redCrayola; color: white; text-align: center;
                    
                    &:first-child { 
                        border-radius: 5px 0 0 0; border-right: 0; 
                        
                        /* Color 3 */
                        .input-group:nth-child(2) {                                
                            .toggle-label {
                                position: relative; cursor: pointer; user-select: none;
                            }
                            .toggle-icon { 
                                position: absolute; left: 6%; top: 6px;
                                font-size: 11px; color: $naplesYellow;
                                pointer-events: none; transition: .25s;    
                            }
                            .input-row.disabled { opacity: 0.4; pointer-events: none; }
                        }
                    }

                    &:last-child { border-radius: 0 5px 0 0; border-left: 2px dotted $oxfordBlue; }
    
                    .input-group { 
                        display: flex; flex-direction: column; justify-content: center; margin-bottom: 5px; 
                        
                        &:last-child { border-top: 2px dotted $oxfordBlue; padding: 5px 0 0 0; }
                        
                        .form-label { 
                            width: 100%; display: inline-block;
                            font-size: 15px; margin-bottom: 0;
                            small { 
                                font-size: 9px; color: $naplesYellow; 
                                margin: 6px 0 0 8px !important; cursor: help;
                            }
                        }

                        input[type = color] {   
                            width: 50px; height: 25px;                        
                            border: 0; border-radius: 5px; background: transparent; transition: 0.25s;
                            cursor: pointer;
                            &:hover { scale: 1.05; }
                            &::-webkit-color-swatch { border-radius: 5px; border: 1px solid $oxfordBlue; }
                            &::-moz-color-swatch { border-radius: 5px; border: 1px solid $oxfordBlue; }
                        }

                        .input-row { display: flex; align-items: center; width: 100%; gap: 5px; }
                        input[type = range] { 
                            flex: 1; height: 25px; cursor: pointer; 
                        }  

                        input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
                        input[type = number] {
                            width: 25px; height: 25px;
                            appearance: none; -moz-appearance: textfield; border: 0; margin: 0 !important; border-radius: 5px !important;
                            text-align: center; font-size: 9px;
                        }  

                        span { font-size: 10px; line-height: 2; }
                    }

                    .direction { 
                        width: 100%;
                        .input-row {
                            gap: 0; justify-content: center; flex-wrap: wrap;
                            button {
                                font-size: 12px;
                                padding: 0.5rem; border: none; color: white;
                                &:focus, &:hover, &:active { font-weight: bolder; color: $naplesYellow; }
                            }
                            .btn.active { color: $oxfordBlue; font-weight: bolder; }
                        }                        
                    }
                }
            }
            
            .reset-button {
                background-color: $redCrayola; border: 2px solid $oxfordBlue; border-top: 0; 
                border-radius: 0 0 5px 5px; padding: 5px; text-align: center; border-top: 2px dotted $oxfordBlue;
                #reset {      
                    background-color: $Charcoal;
                    padding: 5px 10px; font-size: 12px;                     
                    &:hover { background-color: black; }  
                    i { font-size: 10px; }             
                }
            }

            .code { 
                flex-wrap: nowrap; margin: 10px 0 auto; 
                .form-floating {
                    width: 100%;
                    label { font-size: 14px; }
                    textarea {                    
                        height: 115px;
                        border-radius: 5px; border: 2px solid $oxfordBlue;
                        overflow: auto; resize: none; cursor: copy;
                        font-size: 14px; 
                        &::selection { background: $naplesYellow; }                       
                    }
                }
                button {
                    margin-left: 5px;
                    background-color: $redCrayola; border-color: $redCrayola;
                    &:hover { background-color: var(--bs-btn-hover-bg); }
                }                
            }                       
        }

        .card-prev { 
            width: 350px;            
            .preview { 
                height: 250px;
                border-radius: 5px; border: 2px solid $oxfordBlue; 
                span { 
                    color: $oxfordBlue; opacity: .5;
                    font-size: 18px; letter-spacing: 1px; cursor: default;
                }
            } 
        }
    }
}