@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif, FontAwesome;
}

/* Color Palette */
body {
  background-color: #011936;
}
body .navMenu {
  text-align: center;
  padding: 0.5rem;
}
body .navMenu .active {
  color: #ED254E;
  text-shadow: 0px 0px 8px rgb(237, 37, 78);
}
body .navMenu a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 1em;
  border-right: 2px dotted #ED254E;
  transition: all 0.2s ease-in-out;
}
body .navMenu a:last-child {
  border-right: 0;
}
body .navMenu a:hover {
  color: #ED254E;
}
body .container, body .color-options, body .color, body .form-check, body .direction, body .preview, body .code {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
body .container {
  min-height: 90vh;
  gap: 15px;
}
body .container .card-container, body .container .card-prev {
  width: auto;
  max-width: 600px;
  min-width: 300px;
  height: auto;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px #465362;
  background-color: #C2EABD;
}
body .container .card-container .card-title, body .container .card-prev .card-title {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #011936;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body .container .card-container .color-options, body .container .card-prev .color-options {
  margin-top: 5px;
  text-align: center;
}
body .container .card-container .color-options .colors, body .container .card-prev .color-options .colors {
  width: 50%;
  padding: 5px;
  border: 2px solid #011936;
  border-bottom-style: dotted;
  background-color: #ED254E;
  color: white;
}
body .container .card-container .color-options .colors:first-child, body .container .card-prev .color-options .colors:first-child {
  border-radius: 5px 0 0 0;
  border-right: 0;
}
body .container .card-container .color-options .colors:last-child, body .container .card-prev .color-options .colors:last-child {
  border-radius: 0 5px 0 0;
  border-left: 2px dotted #011936;
}
body .container .card-container .color-options .colors .color, body .container .card-container .color-options .colors .form-check, body .container .card-prev .color-options .colors .color, body .container .card-prev .color-options .colors .form-check {
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
body .container .card-container .color-options .colors .color:last-child, body .container .card-container .color-options .colors .color .form-check, body .container .card-container .color-options .colors .form-check:last-child, body .container .card-container .color-options .colors .form-check .form-check, body .container .card-prev .color-options .colors .color:last-child, body .container .card-prev .color-options .colors .color .form-check, body .container .card-prev .color-options .colors .form-check:last-child, body .container .card-prev .color-options .colors .form-check .form-check {
  border-top: 2px dotted #011936;
  margin-bottom: 5px;
}
body .container .card-container .color-options .colors .color .form-label, body .container .card-container .color-options .colors .form-check .form-label, body .container .card-prev .color-options .colors .color .form-label, body .container .card-prev .color-options .colors .form-check .form-label {
  width: 100%;
  display: inline-block;
  font-size: 15px;
  margin-bottom: 0;
}
body .container .card-container .color-options .colors .color input, body .container .card-container .color-options .colors .form-check input, body .container .card-prev .color-options .colors .color input, body .container .card-prev .color-options .colors .form-check input {
  height: 25px;
}
body .container .card-container .color-options .colors .color input[type=color], body .container .card-container .color-options .colors .form-check input[type=color], body .container .card-prev .color-options .colors .color input[type=color], body .container .card-prev .color-options .colors .form-check input[type=color] {
  width: 40px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  margin-right: 5px;
  background: transparent;
  transition: 0.25s;
  cursor: pointer;
}
body .container .card-container .color-options .colors .color input[type=color]:hover, body .container .card-container .color-options .colors .form-check input[type=color]:hover, body .container .card-prev .color-options .colors .color input[type=color]:hover, body .container .card-prev .color-options .colors .form-check input[type=color]:hover {
  scale: 1.05;
}
body .container .card-container .color-options .colors .color input[type=color]::-webkit-color-swatch, body .container .card-container .color-options .colors .form-check input[type=color]::-webkit-color-swatch, body .container .card-prev .color-options .colors .color input[type=color]::-webkit-color-swatch, body .container .card-prev .color-options .colors .form-check input[type=color]::-webkit-color-swatch {
  border-radius: 5px;
  border: 1px solid white;
}
body .container .card-container .color-options .colors .color input[type=color]::-moz-color-swatch, body .container .card-container .color-options .colors .form-check input[type=color]::-moz-color-swatch, body .container .card-prev .color-options .colors .color input[type=color]::-moz-color-swatch, body .container .card-prev .color-options .colors .form-check input[type=color]::-moz-color-swatch {
  border-radius: 5px;
  border: 1px solid white;
}
body .container .card-container .color-options .colors .color input[type=range], body .container .card-container .color-options .colors .form-check input[type=range], body .container .card-prev .color-options .colors .color input[type=range], body .container .card-prev .color-options .colors .form-check input[type=range] {
  width: 50%;
  cursor: pointer;
}
body .container .card-container .color-options .colors .color input::-webkit-outer-spin-button, body .container .card-container .color-options .colors .color input::-webkit-inner-spin-button, body .container .card-container .color-options .colors .form-check input::-webkit-outer-spin-button, body .container .card-container .color-options .colors .form-check input::-webkit-inner-spin-button, body .container .card-prev .color-options .colors .color input::-webkit-outer-spin-button, body .container .card-prev .color-options .colors .color input::-webkit-inner-spin-button, body .container .card-prev .color-options .colors .form-check input::-webkit-outer-spin-button, body .container .card-prev .color-options .colors .form-check input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body .container .card-container .color-options .colors .color input[type=number], body .container .card-container .color-options .colors .form-check input[type=number], body .container .card-prev .color-options .colors .color input[type=number], body .container .card-prev .color-options .colors .form-check input[type=number] {
  width: 25px;
  margin-left: 5px;
  font-size: 10px;
  text-align: center;
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
  border-radius: 5px;
}
body .container .card-container .color-options .colors .color span, body .container .card-container .color-options .colors .form-check span, body .container .card-prev .color-options .colors .color span, body .container .card-prev .color-options .colors .form-check span {
  font-size: 9px;
  color: white;
  margin-left: 2.5px;
}
body .container .card-container .color-options .colors .div-color3.disabled, body .container .card-prev .color-options .colors .div-color3.disabled {
  pointer-events: none;
  opacity: 0.5;
}
body .container .card-container .color-options .colors .form-check, body .container .card-prev .color-options .colors .form-check {
  height: 54.5px;
  justify-content: center;
  gap: 10px;
  padding-left: 0;
  margin-bottom: 0 !important;
  font-size: 12px;
}
body .container .card-container .color-options .colors .form-check label, body .container .card-prev .color-options .colors .form-check label {
  height: 25px;
  line-height: 2;
}
body .container .card-container .color-options .colors .form-check input[type=checkbox], body .container .card-prev .color-options .colors .form-check input[type=checkbox] {
  width: 45px;
  height: 20px;
  margin: 0;
  border: 1px solid #011936;
  cursor: pointer;
  transition: 0.2s;
}
body .container .card-container .color-options .colors .form-check input[type=checkbox]:hover, body .container .card-prev .color-options .colors .form-check input[type=checkbox]:hover {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}
body .container .card-container .reset-button, body .container .card-prev .reset-button {
  background-color: #ED254E;
  border: 2px solid #011936;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  padding: 5px;
  text-align: center;
}
body .container .card-container .reset-button #reset, body .container .card-prev .reset-button #reset {
  background-color: #465362;
  padding: 5px 10px;
  font-size: 12px;
}
body .container .card-container .reset-button #reset:hover, body .container .card-prev .reset-button #reset:hover {
  background-color: black;
}
body .container .card-container .direction, body .container .card-prev .direction {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0;
  background-color: #ED254E;
  border: 2px solid #011936;
}
body .container .card-container .direction button, body .container .card-prev .direction button {
  border: none;
  color: white;
}
body .container .card-container .direction button:focus, body .container .card-container .direction button:hover, body .container .card-container .direction button:active, body .container .card-prev .direction button:focus, body .container .card-prev .direction button:hover, body .container .card-prev .direction button:active {
  font-weight: bolder;
  color: #465362;
}
body .container .card-container .direction .btn.active, body .container .card-prev .direction .btn.active {
  color: #000;
  font-weight: bolder;
}
body .container .card-container .direction .isRadial, body .container .card-prev .direction .isRadial {
  border-radius: 0;
  border-left: 2px dotted #011936;
}
body .container .card-container .preview, body .container .card-prev .preview {
  height: 237px;
  margin: 5px 0;
  border-radius: 5px;
  border: 2px solid #011936;
}
body .container .card-container .preview span, body .container .card-prev .preview span {
  color: white;
  opacity: 0.5;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: default;
}
body .container .card-container .code, body .container .card-prev .code {
  flex-wrap: nowrap;
  margin: 5px 0 auto;
}
body .container .card-container .code .form-floating, body .container .card-prev .code .form-floating {
  width: 100%;
}
body .container .card-container .code .form-floating label, body .container .card-prev .code .form-floating label {
  font-size: 14px;
}
body .container .card-container .code .form-floating textarea, body .container .card-prev .code .form-floating textarea {
  height: 100px;
  border-radius: 5px;
  border: 2px solid #011936;
  overflow: auto;
  resize: none;
  cursor: copy;
  font-size: 14px;
}
body .container .card-container .code .form-floating textarea::-moz-selection, body .container .card-prev .code .form-floating textarea::-moz-selection {
  background: #F9DC5C;
}
body .container .card-container .code .form-floating textarea::selection, body .container .card-prev .code .form-floating textarea::selection {
  background: #F9DC5C;
}
body .container .card-container .code button, body .container .card-prev .code button {
  margin-left: 5px;
  background-color: #ED254E;
  border-color: #ED254E;
}
body .container .card-container .code button:hover, body .container .card-prev .code button:hover {
  background-color: var(--bs-btn-hover-bg);
}/*# sourceMappingURL=styles.css.map */